<template>
  <div class="payment">
    <div class="row middle-xs pt10 pb25 section-title">
      <div class="col-auto col-md-1 number-circle-wrap">
        <div
          class="number-circle lh35 cl-white brdr-circle align-center weight-700 bg-cl-black-2D242D"
          :class="{ 'bg-cl-black-2D242D' : isActive || isFilled, 'bg-cl-gray-969196' : !isFilled && !isActive }"
        >
          {{ (isVirtualCart ? 2 : 3) }}
        </div>
      </div>
      <div class="col-xs col-md-11 pl10">
        <div class="flex between-xs middle-xs">
          <div class="" :class="{'cl-black-2D242D' : isActive || isFilled,'cl-gray-969196' : !isFilled && !isActive }">
            <h3 class="m0 lh35 a-bold f-s-16 pl0">
              {{ $t('Payment') }}
            </h3>
          </div>
          <div class="">
            <div class="lh30 flex end-lg" v-if="isFilled && !isActive">
              <a href="#" class="cl-gray-969196 weight-600 f-s-14 flex middle-xs" @click.prevent="edit">
                <span class="pr15 edit-icon">
                  {{ $t('Edit payment') }}
                </span>
                <i class="material-icons cl-gray-969196 f-s-20">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-10 info-wrap">
        <div class="row" v-if="isActive">
          <base-checkbox
            class="col-xs-12 mb15 acc-condition check-box"
            id="sendToShippingAddressCheckbox"
            v-model="sendToShippingAddress"
            v-if="!isVirtualCart"
          >
            {{ $t('My Shipping and Billing Address are the same') }}
            <img src="/assets/icons/help.svg" class="help" alt="">
          </base-checkbox>

          <base-checkbox
            v-if="hasBillingData()"
            class="col-xs-12 mb15 check-box"
            id="sendToBillingAddressCheckbox"
            v-model="sendToBillingAddress"
          >
            {{ $t('Use my billing data') }}
          </base-checkbox>

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="payment.firstName"
            @blur="$v.payment.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.payment.firstName.$error && !$v.payment.firstName.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.payment.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="payment.lastName"
            @blur="$v.payment.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.payment.lastName.$error && !$v.payment.lastName.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-9 mb10"
            type="text"
            name="city"
            :placeholder="$t('City *')"
            v-model.trim="payment.city"
            @blur="$v.payment.city.$touch()"
            autocomplete="city"
            :validations="[
              {
                condition: $v.payment.city.$error && !$v.payment.city.required,
                text: $t('Field is required')
              },
              {
                condition: $v.payment.city.$error && $v.payment.city.required,
                text: $t('Please provide valid city name')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-3 mb15"
            type="text"
            name="block"
            :placeholder="$t('Block*')"
            v-model.trim="payment.block"
            autocomplete="block"
          />

          <base-input
            class="col-xs-12 col-sm-9 mb10"
            type="text"
            name="street-address"
            :placeholder="$t('Street Name / Number*')"
            v-model.trim="payment.streetAddress"
            @blur="$v.payment.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[{
              condition: $v.payment.streetAddress.$error && !$v.payment.streetAddress.required,
              text: $t('Field is required')
            }]"
          />

          <base-input
            class="col-xs-12 col-sm-3 mb15"
            type="text"
            name="jaddahAvenue"
            :placeholder="$t('Jaddah / Avenue')"
            v-model.trim="payment.avenue"
            autocomplete="avenue"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="floorApartment"
            :placeholder="$t('Floor / Apartment')"
            v-model.trim="payment.floor"
            autocomplete="floor"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="zip-code"
            :placeholder="$t('Postal Code*')"
            v-model.trim="payment.zipCode"
            @blur="$v.payment.zipCode.$touch()"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.payment.zipCode.$error && !$v.payment.zipCode.required,
                text: $t('Field is required')
              },
              {
                condition: !$v.payment.zipCode.minLength,
                text: $t('Postal must have at least 3 letters.')
              }
            ]"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb10"
            type="text"
            name="state"
            :placeholder="$t('State / Province')"
            v-model.trim="payment.state"
            autocomplete="state"
          />

          <base-input
            class="col-xs-12 col-sm-6 mb15"
            type="text"
            name="phone-number"
            :placeholder="$t('Mobile Number')"
            v-model.trim="payment.phoneNumber"
            autocomplete="tel"
          />

          <base-select
            class="col-xs-12 col-sm-6 mb10 hidden"
            name="countries"
            :options="countryOptions"
            :selected="payment.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition: $v.payment.country.$error && !$v.payment.country.required,
                text: $t('Field is required')
              }
            ]"
            v-model="payment.country"
            autocomplete="country-name"
            @blur="$v.payment.country.$touch()"
            @change="$v.payment.country.$touch(); changeCountry();"
          />

          <div class="col-xs-12">
            <h4 class="cl-black-2D242D weight-500 f-s-16 pt10 pb15 mb0">
              {{ $t('Payment Method') }}
            </h4>
          </div>
          <div v-for="(method, index) in paymentMethods" :key="index" class="col-xs-12 radio1">
            <label class="radioStyled">
              <input
                type="radio"
                :value="method.code"
                name="payment-method"
                v-model="payment.paymentMethod"
                @change="$v.payment.paymentMethod.$touch(); changePaymentMethod();"
              >
              <span class="checkmark">
                {{ $t(method.title ? method.title : method.name) }}
                <span />
              </span>
            </label>
          </div>
          <span class="validation-error" v-if="!$v.payment.paymentMethod.required">{{ $t('Field is required') }}</span>
          <div v-if="payment.paymentMethod == 'myfatoorah'" class="card-type">
            <div class="flex payment-card-list">
              <div class="card-item" v-for="method in getMethods" :key="method.PaymentMethodId">
                <label class="radioStyled">
                  <img style="width:100%;" :src="method.ImageUrl" :alt="method.PaymentMethodEn">
                  <input
                    type="radio"
                    :value="method.PaymentMethodId"
                    name="payment-type"
                    v-model="card.paymentMethodId"
                  >
                  <span class="checkmark" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-12 mb10">
                <input
                  name="card-number"
                  type="tel"
                  inputmode="numeric"
                  pattern="[0-9\s]{13,19}"
                  maxlength="19"
                  :placeholder="$t('Card Number')"
                  v-model="card.cardNumber"
                  class="w-100"
                >
              </div>
              <div class="col-xs-6 col-md-6 mb10">
                <input
                  name="card-month"
                  maxlength="2"
                  type="text"
                  :placeholder="$t('Exp Month')"
                  v-model="card.cardExpiryMonth"
                  class="w-100"
                >
              </div>
              <div class="col-xs-6 col-md-6 mb10">
                <input
                  name="card-year"
                  maxlength="2"
                  type="text"
                  :placeholder="$t('Exp Year')"
                  v-model="card.cardExpiryYear"
                  class="w-100"
                >
              </div>
              <div class="col-xs-12 col-md-12 mb10">
                <input
                  name="card-name"
                  type="text"
                  :placeholder="$t('Card Name')"
                  v-model="card.cardHolderName"
                  class="w-100"
                >
              </div>
              <div class="col-xs-12 col-md-12 mb10">
                <input
                  name="card-code"
                  maxlength="3"
                  type="text"
                  :placeholder="$t('Security Code')"
                  v-model="card.cardSecurityCode"
                  class="w-100"
                >
              </div>
            </div>
          </div>
          <div class="col-xs-12 mt20">
            <span class="payment-msg">
              {{ $t('100% Secure & Guaranteed Payments') }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="isActive">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11">
        <div class="row mb30 mt25">
          <div class="col-xs-12 col-md-6 ac-btn-container btn-row">
            <button-full
              class="btn-secondary"
              @click.native="sendDataToCheckout"
              data-testid="paymentSubmit"
              :disabled="$v.payment.$invalid"
            >
              {{ $t('Go review the order') }}
            </button-full>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="!isActive && isFilled">
      <div class="hidden-xs col-sm-2 col-md-1" />
      <div class="col-xs-12 col-md-11">
        <div class="row fs16 mb35">
          <div class="col-xs-12 h4">
            <div class="sp-address f-s-14 weight-500 cl-block-2D242D lh20">
              <p class="m0">
                {{ payment.firstName }} {{ payment.lastName }}
              </p>
              <p class="m0">
                {{ payment.streetAddress }} {{ payment.apartmentNumber }}
              </p>
              <p class="m0">
                {{ payment.city }} {{ payment.zipCode }}
              </p>
              <p class="m0">
                <span v-if="payment.state">{{ payment.state }}, </span>
                <span>{{ getCountryName() }}</span>
              </p>
              <p v-if="payment.phoneNumber" class="sp-p-address mt15">
                <span class="pr15">{{ payment.phoneNumber }}</span>
              </p>
              <p v-if="generateInvoice">
                {{ payment.company }} {{ payment.taxId }}
              </p>
            </div>
            <div class="col-xs-12 pl0 mb20">
              <h4 class="cl-block-2D242D weight-600 f-s-14 mt30 mb10">
                {{ $t('Payment method') }}
              </h4>
            </div>
            <div class="col-md-6 pl0 payment-method radio1 radio1-active">
              <label class="radioStyled"> {{ getPaymentMethod().title }}
                <input type="radio" value="" checked disabled name="chosen-payment-method">
                <span class="checkmark" />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Payment } from '@vue-storefront/core/modules/checkout/components/Payment'
import { mapGetters } from 'vuex'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import ButtonFull from 'theme/components/theme/ButtonFull'
// import Tooltip from 'theme/components/core/Tooltip'
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  data () {
    return {
      card: this.$store.state.myfatoorah.ccdata
    }
  },
  components: {
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    ButtonFull
    // Tooltip
  },
  mixins: [Payment],
  computed: {
    ...mapGetters({
      getMethods: 'myfatoorah/getMethods',
      totals: 'cart/getTotals',
      cartItems: 'cart/getCartItems',
      personalInfo: 'checkout/getPersonalDetails',
      shippingDetails: 'checkout/getShippingDetails',
      cardDetails: 'myfatoorah/getCCData'
    }),
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  validations () {
    if (!this.generateInvoice) {
      return {
        payment: {
          firstName: {
            required,
            minLength: minLength(2),
            unicodeAlpha
          },
          lastName: {
            required,
            unicodeAlpha
          },
          country: {
            required
          },
          streetAddress: {
            required,
            unicodeAlphaNum
          },
          zipCode: {
            required,
            minLength: minLength(3),
            unicodeAlphaNum
          },
          city: {
            required,
            unicodeAlpha
          },
          paymentMethod: {
            required
          }
        }
      }
    } else {
      return {
        payment: {
          firstName: {
            required,
            minLength: minLength(2),
            unicodeAlpha
          },
          lastName: {
            required,
            unicodeAlpha
          },
          company: {
            required,
            unicodeAlphaNum
          },
          taxId: {
            required,
            minLength: minLength(3)
          },
          country: {
            required
          },
          streetAddress: {
            required,
            unicodeAlphaNum
          },
          zipCode: {
            required,
            minLength: minLength(3),
            unicodeAlphaNum
          },
          city: {
            required,
            unicodeAlpha
          },
          paymentMethod: {
            required
          }
        }
      }
    }
  },
  async beforeMount () {
    const storeView = currentStoreView();
    let total = this.totals.find((amount) => amount.code === 'grand_total');
    this.$store.dispatch('myfatoorah/initiatePayment', { 'InvoiceAmount': total.value, 'CurrencyIso': storeView.i18n.currencyCode })
  },
  methods: {
    changePaymentType (typeId) {
      this.paymentMethodId = typeId
    },
    copyShippingToBillingAddress () {
      this.payment = {
        firstName: this.shippingDetails.firstName,
        lastName: this.shippingDetails.lastName,
        country: this.shippingDetails.country,
        state: this.shippingDetails.state,
        city: this.shippingDetails.city,
        streetAddress: this.shippingDetails.streetAddress,
        apartmentNumber: this.shippingDetails.apartmentNumber,
        zipCode: this.shippingDetails.zipCode,
        phoneNumber: this.shippingDetails.phoneNumber,
        paymentMethod: this.paymentMethods.length > 0 ? this.paymentMethods[0].code : '',
        block: this.shippingDetails.block,
        floor: this.shippingDetails.floor,
        avenue: this.shippingDetails.avenue
      }
    },
    sendDataToCheckout () {
      let total = this.totals.find((amount) => amount.code === 'grand_total');
      let items = [];
      for (let i in this.cartItems) {
        let item = this.cartItems[i];
        items.push({
          'ItemName': item.name,
          'Quantity': item.qty,
          'UnitPrice': item.price
        });
      }

      let postData = {
        'PaymentMethodId': this.cardDetails.paymentMethodId,
        'CustomerName': this.personalInfo.firstName + ' ' + this.personalInfo.lastName,
        'DisplayCurrencyIso': 'KWD',
        'MobileCountryCode': '+965',
        'CustomerMobile': this.shippingDetails.phoneNumber,
        'CustomerEmail': this.personalInfo.emailAddress,
        'InvoiceValue': total.value,
        'CallBackUrl': config.api.url,
        'ErrorUrl': config.api.url,
        'Language': 'en',
        'CustomerAddress': {
          'Block': '',
          'Street': this.shippingDetails.streetAddress,
          'HouseBuildingNo': this.shippingDetails.apartmentNumber,
          'Address': '',
          'AddressInstructions': ''
        },
        'InvoiceItems': items
      };

      let self = this;
      this.$store.dispatch('myfatoorah/executePayment', postData).then((data) => {
        if (data.code === 200) {
          let cardData = this.cardDetails;
          cardData['paymentType'] = 'card';
          cardData['apiURL'] = data.result.Data.PaymentURL;

          self.$store.dispatch('myfatoorah/setCCInfo', cardData)
          self.$bus.$emit('checkout-after-paymentDetails', self.payment, self.$v)
          self.isFilled = true
        }
      });
    }
  }
}
</script>

<style lang="scss">
.payment-msg{
  display: inline-block;
  background: url(/assets/icons/payment-msg.svg) no-repeat left center;
  max-width: 165px;
  font-size: 12px;
  line-height: 1.2;
  padding: 2px 0 2px 35px;
}
#checkout{
  .card-type{
     padding: 0 10px;
    .payment-card-list{
      flex-wrap: wrap;
      .card-item{
        margin: 0 10px 10px 0;
        padding: 0;
        width: 55px;
        position: relative;
      }
    }
    .radioStyled{
      padding: 4px;
      margin: 0;
      img{
        display: block;
        width: 100%;
        height: 100%;
        max-height: 31px;
      }
      .checkmark{
        border: 1px solid #8e8e8e;
        width: 55px;
        height: 38px;
        border-radius: 6px;
      }
      input:checked ~ .checkmark:after{
        background: transparent;
        border: solid 1px #000;
        border-radius: 4px;
        left: 0;
        top: 0;
        width: 51px;
        height: 34px;
      }
    }
  }
  .payment-method{
    &.radio1{
      .radioStyled{
        .checkmark{
          padding: 0;
          &:before{
            border-radius: 100%;
            top: -1px;
            left: -1px;
          }
          &:after{
            width: 10px;
            height: 10px;
            left: 2px;
            top: 2px;
          }
        }
      }
    }
  }
}
</style>
