<template>
  <div>
    <div class="relative">
      <input
        class="m0 no-outline"
        type="checkbox"
        :id="id"
        :checked="value"
        @keyup.enter="$emit('click')"
        @click="$emit('click')"
        @blur="$emit('blur')"
        @change="$emit('change', $event.target.checked)"
        :disabled="disabled"
      >
      <label
        class="pl30 lh22 f-s-14 weight-600 cl-black-2D242D pointer"
        :for="id"
      >
        <slot />
      </label>
    </div>
    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseCheckbox',
  components: {
    ValidationMessages
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    id: {
      type: String,
      required: true
    },
    value: {
      type: Boolean,
      required: true
    },
    validations: {
      type: Array,
      default: () => []
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-active: color(secondary);
  $color-white: color(white);
  $green-95BF47: color(green-95BF47);
  $gray-AAAAAA: color(gray-AAAAAA);
  $white-F5F5F5: color(white-F5F5F5);
  $black-2D242D: color(black-2D242D);

  label {
    user-select: none;
    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 0;
      width: 15px;
      height: 16px;
      background-color: $white-F5F5F5;
      border: 1px solid $gray-AAAAAA;
      border-radius: 2px;
      cursor: pointer;
      box-sizing: border-box;
    }
  }

  input {
    position: absolute;
    top: 3px;
    left: 0;
    opacity: 0;
    &:checked + label {
      &:before {
        background-color: $black-2D242D;
        border-color: $black-2D242D;
        cursor: pointer;
      }
      &:after {
        content: '';
        position: absolute;
        top: 8px;
        left: 3px;
        width: 8px;
        height: 4px;
        border: 1px solid $color-white;
        border-top: none;
        border-right: none;
        background-color: $black-2D242D;
        transform: rotate(-45deg);
      }
    }
    /*&:hover,
    &:focus {
      + label {
        &:before {
          border-color: $black-2D242D;
        }
      }
    }*/
    &:disabled + label {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
      &:hover,
      &:focus {
        &:before {
          border-color: $gray-AAAAAA;
          cursor: not-allowed;
        }
      }
    }
  }
</style>
