<template>
  <div class="sort-by relative">
    <div v-if="type === 'select'">
      <select
        aria-label="sortby"
        name="sortby"
        class="cl-black-2D242D select1"
        v-model="sortby"
        @change="changeOrder"
      >
        <option selected="selected" disabled value="" v-if="!hasLabel">
          {{ $t("Sort") }}
        </option>
        <option
          v-for="variant in sortingVariants"
          :value="variant"
          :key="variant.id"
        >
          {{ $t(variant.label) }}
        </option>
      </select>
    </div>
    <div class="sortby-slider" v-if="type === 'slider'">
      <div
        class="sort-title f-s-16 py10 cl-black-2D242D weight-700 uppercase align-center brdr-bottom-1 brdr-cl-gray-E5E5E5"
      >
        {{ $t("Sort") }}
        <span class="absolute close-sortby-slider">
          <i
            class="material-icons f-s-18 p13 cl-black-2D242D"
            @click="$bus.$emit('close-sortby-filter')"
          >
            close
          </i>
        </span>
      </div>
      <ul class="sortby-list m0 px0 py10 align-center" v-if="sortingVariants.length > 0">
        <li
          v-for="variant in sortingVariants"
          :key="variant.id"
          @click="productSortBy(variant)"
          class="cl-gray-969196 weight-500 f-s-16 py15"
        >
          {{ $t(variant.label) }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import SortBy from '@vue-storefront/core/compatibility/components/SortBy';
import { products } from 'config';
export default {
  mixins: [SortBy],
  props: {
    hasLabel: {
      type: Boolean,
      required: false,
      default: false
    },
    value: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      required: false,
      default: 'select'
    }
  },

  data () {
    return {
      sortby: null
    };
  },

  watch: {
    value: {
      handler () {
        const defaultVariant =
          this.value && this.value.length
            ? this.value
            : products.defaultSortBy.attribute;
        this.sortby = this.sortingVariants.find(variant =>
          variant.id.includes(defaultVariant)
        );
      },
      immediate: true
    }
  },

  methods: {
    productSortBy (variant) {
      this.sortby = variant
      this.changeOrder()
      this.$bus.$emit('close-sortby-filter')
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/base/text";
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$gray-D8D8D8: color(gray-D8D8D8);
$white: color(white);
.sort-by {
  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
@media (max-width: 770px) {
  .sort-by {
    width: 100%;
  }
}
.sortby-slider {
  width: 100%;
  max-height: 342px;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  .sort-title {
    .close-sortby-slider {
      right: 5px;
      top: 0;
    }
  }
  .sortby-list {
    max-height: inherit;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    list-style: none;
  }
}
</style>
