#checkout{
  .container{
    min-height: calc(100vh - 161px);
  }
  .clear-btn{
    position: absolute;
    top:-13px;
    left:-13px;
    cursor: pointer;
    svg{
      width:26px;
      height:26px;
    }
  }
  .no-input-icon{
    border:0px;
  }
  input{
    border:0px;
    border-bottom: 1px solid #E5E5E5;
    font-size:14px;
    padding:0px;
  }
  select{
    padding-left:0px;
  }
  .radio1{
    .radioStyled{
      background: #FFFFFF;
      display: inline-block;
      padding: 7px 25px 7px 40px;
      text-transform: capitalize;
      position: relative;
      font-size: 14px;
      color: rgba(45, 36, 45, 0.6);
      font-weight: 600;
      width: 375px;
      height: 44px;
      margin-bottom: 10px;
      .checkmark{
        border: 0px;
        width: 100%;
        height: 100%;
        padding: 8px 0 0 42px;
        span{
          border: 1px solid rgba(45, 36, 45, 0.6);
          width: 18px;
          height: 18px;
          display: block;
          border-radius: 100%;
          position: absolute;
          top: 13px;
          left: 15px;
        }
        &:after{
          background: rgba(45, 36, 45, 0.6);
          width: 14px;
          height: 14px;
          left: 17px;
          top: 15px;
          margin-top: 0;
          display: block;
          position: absolute;
        }
        &:before{
          content: '';
          border: 1px solid rgba(45, 36, 45, 0.2);
          width: 100%;
          height:100%;
          left: 0;
          top: 0;
          display: block;
          border-radius: 4px;
          position: absolute;
        }
      }
      input:checked ~ .checkmark{
        color: #2D242D;
        &:before{
          border-color: #2D242D;
        }
        &:after{
          background: #2D242D;
        }
        span{
          border-color: #2D242D;
        }
      }
    }
  }
  .radio1-active{
    .radioStyled{
      border: 1px solid #2D242D;
      color: #2D242D;
      min-width: auto;
      .checkmark{
        border: 1px solid #2D242D;
        width: 16px;
        height: 16px;
        left: 15px;
        top: 50%;
        margin-top: -8px;
        &:after{
          background: #2D242D;
        }
      }
    }
  }
  .order-steps-wrap{
    width: 100%;
  }
  .checkout-details {
    margin: 0 40px 50px 0;
    max-width: 860px;
  }
  @media (min-width: 767px) {
    .info-wrap{
      padding-left: 0px;
      max-width: 540px;
    }
  }
  @media (max-width: 1600px) {
    .checkout-details {
        max-width: 58%;
    }
    .order-summary-wrap {
        -ms-flex-preferred-size: 41.6%;
        flex-basis: 41.6%;
        max-width: 41.6%;
        width: 41.6%;
    }
  }
  @media (max-width: 1280px) {
    .checkout-details {
        max-width: 56%;
        padding: 20px;
    }
    .order-summary-wrap {
        -ms-flex-preferred-size: 41.6%;
        flex-basis: 41.6%;
        max-width: 41.6%;
        width: 41.6%;
    }
    .number-circle{
      width: 25px;
      height: 25px;
      line-height: 26px;
    }
    .order-summary-wrap{
      padding-left: 30px;
      padding-right: 30px;
    }
    .checkout{
      .f-s-18{
        font-size: 16px;
      }
    }
  }
  @media (max-width: 992px) {
    .container{
      > .d-flex{
        display: block;
        .checkout-details{
          max-width: 100%;
          margin-right: 0;
          margin-bottom: 30px;
        }
        .order-summary-wrap{
          position: relative;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          max-width: 100%;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          height: auto;
          min-height: auto;
          border-radius: 6px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .order-steps-wrap{
      padding-top: 15px;
    }
    .checkout-details{
      margin-right: 0;
      padding: 20px;
      width: 100%;
      margin-bottom: 0px;
      h3{
        line-height: 1.3;
        padding-top: 2px;
      }
    }
    .btn-row{
      .btn-fill{
        width: 100%;
      }
      .ml20{
        margin: 10px 0 0;
        text-align: center;
      }
    }
    .section-title{
        padding-bottom: 10px;
    }
    .shipping-method-wrap{
        margin-bottom:0;
    }
  }
  .cartsummary-wrapper{
      display: none;
  }
  .container {
    min-height: calc(100vh - 0px);
    padding-bottom: 15px;
  }
}
.order-summary-wrap {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-flex-preferred-size: 50.9%;
  flex-basis: 33.6%;
  max-width: 33.6%;
  width: 33.6%;
  padding: 184px 50px 0;
  height: calc(100vh - 160px);
}
@media (max-width: 767px) {
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
}