<template>
  <div>
    <div class="hidden-tablet main-header-menu">
      <div class="container menu-header-links relative weight-500">
        <ul v-if="categories.length > 0" class="flex menu-links p0 m0">
          <li
            class="menu-item"
            v-for="(category, index) of categories"
            :key="index"
            @mouseover="getSubCategory(category.id)"
            @mouseleave="leaveSubCategory"
          >
            <router-link
              class="main-menu-link menu-link cl-black-2D242D no-underline f-s-15"
              data-testid="categoryButton"
              :to="categoryLink(category)"
            >
              {{ category.name }}
            </router-link>

            <transition name="fade">
              <div
                class="mega-menu"
                v-if="childData !== null && hover && parentID === category.id"
              >
                <div class="row">
                  <div class="col-md-8 p20">
                    <ul class="mega-menu-link align-left pl0 flex" v-if="childData !== null">
                      <li class="p-c-name sub-title" v-for="(sub,indexin) of childData" :key="indexin">
                        <router-link
                          class="no-underline f-s-14 a-bold cl-black-2D242D brdr-bottom-1 brdr-cl-gray-E5E5E5"
                          :to="categoryLink(sub)"
                          @click.native="leaveSubCategory"
                        >
                          {{ sub.name }}
                        </router-link>
                        <ul class="s-mega-menu-link" v-if="sub.children_data && sub.children_data.length > 0">
                          <li class="s-c-name subcategory-item" v-for="ssub of sub.children_data" :key="ssub.url_key">
                            <router-link
                              class="no-underline f-s-16 cl-gray-969196 weight-600"
                              :to="categoryLink(ssub)"
                              @click.native="leaveSubCategory"
                            >
                              {{ ssub.name }}
                            </router-link>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <div class="category-img relative">
                      <img
                        :src="getCategoryImage(category.image)"
                        :alt="category.name"
                      >
                      <div class="img-text bg-cl-white">
                        <span class="weight-700 f-s-16 cl-black-2D242D">
                          {{ category.name }}
                        </span>
                        <router-link @click.native="leaveSubCategory" :to="categoryLink(category)" class="f-s-14 cl-purple-D3B3E6 no-underline flex middle-xs center-xs">
                          <span>
                            {{ $t('Products') }}
                          </span>
                          <i class="material-icons f-s-12 ml5">arrow_forward</i>
                        </router-link>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import config from 'config';
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers';
import { getCategoryUrl } from 'theme/helpers'

export default {
  name: 'CategoryMenu',
  data () {
    return {
      childData: null,
      hover: false,
      parentID: null,
      menu_hover: false
    };
  },
  props: {
    categories: {
      type: [Object, Array],
      required: true
    }
  },
  methods: {
    async getSubCategory (parent_id) {
      // this.$store.commit('ui/setOverlay', true)
      this.menu_hover = true
      this.parentID = parent_id;
      let childCatData = await this.$store.dispatch('category/list', {
        parent: parent_id
      });
      this.childData =
        childCatData && childCatData.items.length > 0
          ? childCatData.items
          : null;

      if (this.childData != null) {
        if (this.childData.length > 0) {
          this.hover = true;
        } else {
          this.hover = false;
        }
      }
    },
    leaveSubCategory () {
      this.childData = null
      this.hover = false
      this.parentID = null
      this.menu_hover = false
    },
    categoryLink (category) {
      return formatCategoryLink(category);
    },
    getCategoryImage (img) {
      return getCategoryUrl(img)
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~theme/css/variables/colors";
@import "~theme/css/helpers/functions/color";
$green-95BF47: color(green-95BF47);
$white: color(white);

.menu-header-links {
  padding-top: 18px;
  ul.menu-links {
    li.menu-item {
      list-style: none;
      margin-left: 5px;
      margin-right: 4px;
      line-height: 22px;
      a.menu-link {
        &::after {
          content: '';
          background: #000;
          width: 0px;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all 0.3s ease;
        }
      }
      &:hover {
        a.menu-link {
          color: $green-95BF47;
          &::after {
            width: 100%;
          }
        }
      }
      a.menu-link {
        padding-left: 11px;
        padding-right: 11px;
        padding-bottom: 16px;
        display: block;
        position: relative;

        &:hover,
        &.router-link-active
        {
          color: $green-95BF47;
          &::after {
            transform: scaleX(1);
          }
        }
      }
      &:first-child{
        margin-left: 0px;
        a{
          padding-left:0;
        }
      }
    }
  }
  .category-img {
    img {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
    }
    .img-text {
      position: absolute;
      bottom: 20px;
      left: 50%;
      line-height: normal;
      transform: translate(-50%, -50%);
      padding: 12px 15px;
      border-radius: 8px;
      text-align: center;
      min-width: 180px;
    }
  }
  .mega-menu {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    max-height: 490px;
    line-height: 0;
    border-radius: 0px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
    overflow: hidden;
    .mega-menu-link {
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      li.p-c-name {
        line-height: 30px;
        flex-basis: 33%;
        padding-right: 40px;
        &.sub-title{
          > a{
            display: block;
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 15px;
          }
        }
      }
      .s-mega-menu-link {
        list-style: none;
        padding-left: 0;
        padding-right: 20px;
        li.s-c-name {
          line-height: 1.3;
          padding: 7px 0;
          a{
            font-weight: 400;
          }
          a:hover {
            color: $green-95BF47;
          }
        }
      }
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
</style>
