// IMPORTANT: Add new css rules ON DEMAND only when you need them!
// Try to use multiples of 5 when using pixels

// .p0 .px10 .py5 - example classes for px paddings
// .px10p - example class for % padding

// Pixels
$padding-px: 0 5 10 12 13 15 20 25 45 50;
$padding-x-px: 0 2 5 10 15 20 25 28 30 35 40 45 50 55 60 65 70 75 80;
$padding-y-px: 0 5 10 15 16 20 21 25 30 35 40 45 50 55 60 65 70 75 80;
$padding-top-px: 0 5 6 10 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 75 80;
$padding-bottom-px: 0 5 10 13 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 75 80;
$padding-left-px: 0 5 10 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 75 80;
$padding-right-px: 0 5 10 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 75 80;

// Percents
$padding-x-p: 10;

// Generators
@mixin padding {
  @each $i in $padding-px {
    .p#{$i} {
      padding: #{$i}px;
    }
  }
  @each $i in $padding-x-px {
    .px#{$i} {
      padding-left: #{$i}px;
      padding-right: #{$i}px;
    }
  }
  @each $i in $padding-x-p {
    .px#{$i}p {
      padding-left: percentage($i/100);
      padding-right: percentage($i/100);
    }
  }
  @each $i in $padding-y-px {
    .py#{$i} {
      padding-top: #{$i}px;
      padding-bottom: #{$i}px;
    }
  }
  @each $i in $padding-top-px {
    .pt#{$i} {
      padding-top: #{$i}px;
    }
  }
  @each $i in $padding-bottom-px {
    .pb#{$i} {
      padding-bottom: #{$i}px;
    }
  }
  @each $i in $padding-right-px {
    .pr#{$i} {
      padding-right: #{$i}px;
    }
  }
  @each $i in $padding-left-px {
    .pl#{$i} {
      padding-left: #{$i}px;
    }
  }
}

@include padding;
