<template>
  <div class="mb15 mt20 customer-address">
    <div class="customer-address-list mb15" v-if="getallAddresses.length > 0">
      <div class="row gutter-md">
        <div class="col-md-6 col-sm-6 col-xs-12 mb30 address-block" :class="'customer-address-'+ address.id" v-for="address in getallAddresses" :key="address.id">
          <div class="address-box p20" :class="(address.default_shipping) ? 'default': ''">
            <p class="m0">
              <strong class="semi-bold-text">{{ address.firstname }} {{ address.lastname }}</strong>
            </p>
            <p v-if="address.company">
              {{ address.company }}
            </p>
            <p>
              {{ address.street[0] }}
              <span v-if="address.street[1]"> {{ address.street[1] }}</span>
            </p>
            <p>
              {{ address.city }} {{ address.postcode }}
            </p>
            <p>
              <span v-if="address.region">{{ address.region.region }}, </span>
              {{ getCountryName(address.country_id) }}
            </p>
            <div v-if="address.telephone">
              {{ address.telephone }}
            </div>
          </div>
          <div class="address-action" :class="(address.default_shipping) ? 'default': ''">
            <a href="javascript:void(0)" class="uppercase cl-light-red mid-semi-bold-text small-text-size" @click="editAddress(address.id)">{{ $t('Edit') }}</a>
            <a href="javascript:void(0)" class="uppercase cl-light-red mid-semi-bold-text small-text-size" @click="removeCustomerAddress(address.id)">{{ $t('Remove') }}</a>
          </div>
        </div>
      </div>
    </div>
    <p class="m0 p0 f-s-20 cl-black-2D242D a-bold mt30 mb30" v-show="!toggleAddressForm" v-else>
      {{ $t('No address found') }}
    </p>
    <div class="row gutter-md">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <button-full
          @click.native="toggleAddressForm = !toggleAddressForm"
          v-show="!toggleAddressForm"
          class="uppercase my-account-update ls-1"
        >
          {{ $t('Add new address') }}
        </button-full>
      </div>
    </div>
    <address-form
      v-if="toggleAddressForm"
      @reset-toggle="resetToggle"
      :address-id="currentAddressId"
    />
  </div>
</template>
<script>

import AddressForm from './AddressForm'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Countries from '@vue-storefront/i18n/resource/countries.json'
import { RemoveAddress } from './RemoveAddress'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'CustomerAddress',
  data () {
    return {
      toggleAddressForm: false,
      countries: Countries,
      currentAddressId: null
    }
  },
  computed: {
    getallAddresses () {
      return this.$store.state.user.current ? this.sortAddress(this.$store.state.user.current.addresses) : {}
    }
  },
  components: {
    ButtonFull,
    AddressForm
  },
  mixins: [ RemoveAddress ],
  methods: {
    sortAddress (addresses) {
      return addresses.sort((a, b) => { return (a.default_shipping) ? -1 : 0; });
    },
    resetToggle () {
      this.toggleAddressForm = false
      this.currentAddressId = null
    },
    getCountryName (countryId) {
      return this.countries.filter(country => country.code === countryId)[0].name
    },
    editAddress (addressId) {
      if (this.toggleAddressForm) {
        this.toggleAddressForm = false
      }
      setTimeout(() => {
        this.toggleAddressForm = true
        this.currentAddressId = addressId
      }, 1)
    },
    removeCustomerAddress (addressId) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: i18n.t('Are you sure you want to remove this address?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('OK'),
          action: () => {
            this.removeAddress(addressId)
            document.querySelector('.customer-address-' + addressId).remove()
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>
<style lang="scss" scoped>
@media (max-width: 767px){
  .address-block{
    margin-bottom: 15px;
  }
  .customer-address{
    margin-top: 0px;
  }
}
</style>
<style lang="scss">
.address-box {
  min-height: 240px;
  border: 1px solid #ededed;
  p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.3;
    &:first-child{
      margin-top: 0;
    }
  }
  > div{
    margin-top: 10px;
    font-size: 16px;
  }
  &.default {
    border: 1px solid #D3B3E6;
  }
  @media (max-width: 767px){
    min-height: 200px;
    > div, p{
      font-size: 14px;
    }
  }
  @media (max-width: 576px){
    min-height: auto;
  }
}
.address-action {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ededed;
  border-top: 0;
  background: #F5F5F5;
  padding: 10px 20px;
  a{
    font-size: 16px;
  }
  &.default {
    border: 1px solid #D3B3E6;
    background-color: #D3B3E6;
    border-top: 0;
  }
  @media (max-width: 767px){
    a{
      font-size: 14px;
    }
  }
}
</style>
