<template>
  <router-link to="/" class="foot-logo" aria-label="Footer Logo">
    <img src="/assets/footer-logo.svg" alt="">
  </router-link>
</template>

<script>
export default {
  name: 'FootLogo'
}
</script>
<style lang="scss" scoped>
</style>
