<template>
  <form @submit.prevent="subscribe(onSuccesfulSubmission)" novalidate>
    <div class="newsletter-forms around-md center-xs row">
      <input
        class="newsletter-field cl-gray-969196 bordr-none w-100 col-md-8 col-xs-7"
        type="email"
        name="email"
        aria-label="Enter your email address"
        v-model="email"
        autocomplete="email"
        :placeholder="$t('Enter your email address')"
      >
      <button
        class="newsletter-btn uppercase f-s-14 cl-white bordr-none bg-cl-black-2D242D a-bold col-md-3 col-xs-4"
        type="submit"
        :disabled="this.$v.$invalid"
        @click="$v.email.$touch()"
      >
        {{ $t("subscribe NOW") }}
      </button>
      <ValidationMessages :validations="[
        {
          condition: $v.email.$error && !$v.email.required,
          text: $t('Field is required.')
        },
        {
          condition: !$v.email.email && $v.email.$error,
          text: $t('Please provide valid e-mail address.')
        }
      ]"
      />
    </div>
  </form>
</template>
<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus';
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe';
import i18n from '@vue-storefront/i18n';
import ValidationMessages from 'theme/components/core/blocks/Form/ValidationMessages.vue'
export default {
  name: 'NewsletterForm',
  beforeDestroy () {
    this.$off('validation-error');
  },
  components: {
    ValidationMessages
  },
  methods: {
    onSuccesfulSubmission (isSubscribed) {
      if (isSubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t(
            'You have been successfully subscribed to our newsletter!'
          ),
          action1: { label: i18n.t('OK') }
        });
      }
    }
  },
  mixins: [SubscriptionStatus, Subscribe]
};
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$cl-969196 : color(gray-969196);

.newsletter-btn {
  border-radius: 4px;
  padding: 10px;
  flex-basis: 156px;
  max-width: 156px;
}
.newsletter-field {
  outline: 0;
  border-radius: 4px;
  padding-left: 16px;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.15);
  &::placeholder {
    color: $cl-969196;
  }
}
@media (max-width: 1200px) {
  .newsletter-field {
    max-width: 300px;
  }
}
@media (max-width: 992px) {
  .newsletter-field {
    max-width: 200px;
  }
}
@media (max-width: 767px) {
  .newsletter-field {
    margin-right: 10px;
  }
  .newsletter-btn {
    font-size: 12px;
  }
}
</style>
